.section-container {
    .sec-title {
        font-size: 32px;
        font-weight: 500;
        line-height: 38.4px;
        letter-spacing: -0.02em;
        text-align: left;
    }
}

.detail-card {
    box-shadow: 0px 5px 22px 0px #0000000a;
    border-radius: 20px;
    border: 1px solid #0000000f;
    width: calc(100% / 3 - 22px);
    span.cat {
        font-size: 12px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0.5px;
        text-align: left;
        color: #667085;
    }
    .count {
        //styleName: typography/H4;
        font-size: 32px;
        font-weight: 500;
        color: #212636;
    }
    .increase {
        color: #15b79f;
    }
    .decrease {
        color: #f04438;
    }
}

.table-outer {
    box-shadow: 0px 5px 22px 0px #0000000a;
    border: 1px solid #dcdfe4;
    overflow: hidden;
    border-radius: 8px;

    table {
        thead {
            border-bottom: 1px solid #dcdfe4;
            background-color: #f9fafb;
            tr {
                th {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21.98px;
                    letter-spacing: -0.01em;
                    text-align: left;
                    padding: 1rem;
                    color: #667085;
                    .sort {
                        vertical-align: middle;
                        margin-left: 4px;
                        display: inline-block;
                        background-image: url('../../assets/icons/sort.png');
                        background-size: contain;
                        background-position: center;
                    }
                }
            }
        }
        tbody {
            background-color: #fff;
            tr {
                td {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: -0.01em;
                    text-align: left;
                    padding: 1rem;
                    color: #212636;
                    &.text-right {
                        font-size: 12px;

                        color: #8a94a6;
                    }
                }
            }
        }
    }
    .pagination {
        li {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.01em;
            text-align: left;
            padding: 1rem;
            color: #212636;
            cursor: pointer;
            &.active {
                background-color: var(--light-primary-color);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .detail-card {
        width: 100%;
    }
    .top-nav {
        min-height: 54px;
    }
    .table-outer {
        overflow: auto;
        .cursor-pointer {
            padding: 0.5rem;
        }
        table thead tr th,
        table tbody tr td {
            font-size: 12px;
            line-height: 20px;
            white-space: nowrap;
        }
    }
}
