.sidebar {
    background-color: #115e56;
    width: 60px;
    min-width: 60px;
}
.layout {
    padding-left: 60px;
}
.top-nav {
    border-bottom: 1px solid #dcdfe4;
    min-height: 94px;
    li {
        cursor: pointer;
        &.active {
            color: #000;
            background-color: var(--light-primary-color);
            img {
                filter: brightness(0%);
            }
        }
    }
}